* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #eb5757, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#timer {
    font-family: monospace;
    font-size: 5em;
    margin-top: -30px;
    color: white;
}


h1 {
    font-size: 4em;
    font-weight: bold;
    color: #eee;
    line-height: 3;
    text-shadow: 8px -3px #000c40;
}

footer {
    background-color: #000c40;
    color: white;
    font-style: italic;
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    margin-top: auto;
    padding: 10px;
    font-weight: bold;
}

.fas.fa-heart {
    margin: 0px, 2px;
}

footer:hover i {
    color: red;
    transition: 2s;
}

@media screen and (max-width:370px) {
    .timer {
        font-size: 4em;
    }
    h1 {
        font-size: 2em;
        padding-top: 90px;
    }
}